<form method="post" action="{{ path('app_piece_delete', {'id': piece.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piece.id) }}">
    <button class="btn btn-danger inline-block">Delete</button>
</form>
