{% extends 'base.html.twig' %}

{% block title %}Edit Piece{% endblock %}

{% block body %}
    <h1 class='text-center'>Edit Piece</h1>
<div class='container'>
{{ include('piece/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_piece_index') }}" class='btn btn-primary inline-block my-3'>back to list</a>

    {{ include('piece/_delete_form.html.twig') }}
</div>
    
{% endblock %}
