{% extends 'base.html.twig' %}

{% block title %}Piece{% endblock %}

{% block body %}
    <h1 class='text-center'>Piece</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomPiece</th>
                <th>Quantite</th>
                <th>Unite</th>
                <th>Fournisseur</th>
                <th>Montage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece in pieces %}
            <tr>
                <td>{{ piece.id }}</td>
                <td>{{ piece.nomPiece }}</td>
                <td>{{ piece.quantite }}</td>
                <td>{{ piece.unite }}</td>
                <td>{{ piece.fournisseur }}</td>
                <td>{{ piece.montage.nomMontage }}</td>
                <td>
                    <a href="{{ path('app_piece_show', {'id': piece.id}) }}" class='btn btn-primary inline-block' >show</a>
                    <a href="{{ path('app_piece_edit', {'id': piece.id}) }}" class='btn btn-primary inline-block'>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" >no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_piece_new') }}" class='btn btn-primary inline-block'>Create new</a>
{% endblock %}
