{% extends 'base.html.twig' %}

{% block title %}New Piece{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Piece</h1>
<div class='container' >
    {{ include('piece/_form.html.twig') }}

    <a href="{{ path('app_piece_index') }}" class='btn btn-primary inline-block mt-3'>back to list</a>
</div>
{% endblock %}
