{% extends 'base.html.twig' %}

{% block title %}Piece{% endblock %}

{% block body %}
    <h1 class="text-center">Piece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piece.id }}</td>
            </tr>
            <tr>
                <th>NomPiece</th>
                <td>{{ piece.nomPiece }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ piece.quantite }}</td>
            </tr>
            <tr>
                <th>Unite</th>
                <td>{{ piece.unite }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ piece.fournisseur }}</td>
            </tr>
            <tr>
                <th>Montage</th>
                <td>{{ piece.montage.nomMontage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_piece_index') }}" class='btn btn-primary inline-block'>back to list</a>

    <a href="{{ path('app_piece_edit', {'id': piece.id}) }}" class='btn btn-primary inline-block'>edit</a>

    {{ include('piece/_delete_form.html.twig') }}
{% endblock %}
