{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class='text-center'>Register</h1>

  <div class="container">

        {{ form_start(registrationForm) }}
  
  <br/>
        {{ form_row(registrationForm.email) }}
  <br/>
  
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
  <br/>
  
       {{ form_row(registrationForm.agreeTerms) }}
  <br/>
  
       
        <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
  </div> 
{% endblock %}
