<form method="post" action="{{ path('app_montage_delete', {'id': montage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ montage.id) }}">
    <button class="btn btn-danger inline-block">Delete</button>
</form>
