{% extends 'base.html.twig' %}

{% block title %}Edit Montage{% endblock %}

{% block body %}
    <h1 class="text-center">Edit Montage</h1>
    <div class='container'>
    {{ include('montage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_montage_index') }}" class='btn btn-primary inline-block my-4'>back to list</a>

    {{ include('montage/_delete_form.html.twig') }}
    </div>
{% endblock %}
