{% extends 'base.html.twig' %}

{% block title %}Montage{% endblock %}

{% block body %}
    <h1 class='text-center'>Montage</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomMontage</th>
                <th>Client</th>
                <th>CreatedAt</th>
                <th>Cout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for montage in montages %}
            <tr>
                <td>{{ montage.id }}</td>
                <td>{{ montage.nomMontage }}</td>
                <td>{{ montage.client }}</td>
                <td>{{ montage.createdAt ? montage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ montage.cout }}</td>
               
                <td>
                    <a href="{{ path('app_montage_show', {'id': montage.id}) }}" class='btn btn-primary inline-block' >show</a>
                    <a href="{{ path('app_montage_edit', {'id': montage.id}) }}" class='btn btn-primary inline-block'>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_montage_new') }}" class='btn btn-primary block'>Create new</a>

{% endblock %}
