{% extends 'base.html.twig' %}

{% block title %}New Montage{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Montage</h1>
<div class='container' >
    {{ include('montage/_form.html.twig') }}

    <a href="{{ path('app_montage_index') }}" class='btn btn-primary inline-block my-4'>back to list</a>
</div>
{% endblock %}
