{% extends 'base.html.twig' %}

{% block title %}Montage{% endblock %}

{% block body %}
    <h1 class="text-center">Montage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ montage.id }}</td>
            </tr>
            <tr>
                <th>NomlMontage</th>
                <td>{{ montage.nomMontage }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ montage.client }}</td>
            </tr>
            <tr>
                <th>Created_At</th>
                <td>{{ montage.createdAt ? montage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ montage.cout }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_montage_index') }}" class='btn btn-primary inline-block my-4'>back to list</a>

    <a href="{{ path('app_montage_edit', {'id': montage.id}) }}" class='btn btn-primary inline-block'>edit</a>

    {{ include('montage/_delete_form.html.twig') }}
{% endblock %}
